/* Custom styling for single post examples layouts */

.post {
  &-main {
    .componentSpacing {
      margin: $spacing-small/2 0;

      @media (min-width: $breakpoint-tablet) {
        margin: $spacing-small/2 0;
      }

      @media (min-width: $breakpoint-desktop) {
        margin: $spacing-large/2 0;
      }

      &[class*='theme'] {
        margin: 0;
        padding: $spacing-small/2 0;

        @media (min-width: $breakpoint-tablet) {
          padding: $spacing-small/2 0;
        }

        @media (min-width: $breakpoint-desktop) {
          padding: $spacing-large/2 0;
        }
      }
    }

    > .componentSpacing {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
